<%- include("partials/header") -%>


<h1> New Todo List </h1>
<h1><form class="" action="/create" method="post">
  <input type="text" name="todoName" value="" placeholder="Title">
  <button type="Submit" name="create" value="list">Create</button>
</form></h1>


<%- include("partials/footer") -%>
