<%- include("partials/header") -%>

<div class="box">
  <h1> New Todo List </h1>
  <h3><form action="/create" method="post">
    <input class="text-input form-control" type="text" name="todoName" value="Untitiled" placeholder="Title">
    <button class="btn btn-primary" type="Submit">Create</button>
  </form></h3>
</div>

<%- include("partials/footer") -%>
