<%- include("header") -%>
    <h1> <%= todoName %> </h1>
    <h1><form class="" action="/list" method="post">
      <input type="text" name="todoName" value="" placeholder="Title">
      <button type="Submit" name="create" value="list">Create</button>
    </form></h1>
    <ul>
      <% for (var i = 0; i < items.length; i++) { %>
        <li> <%=items[i]%> </li>
      <% } %>
    </ul>
    <form class="" action="/list" method="post">
      <input type="text" name="items" value="" placeholder="Todo">
      <button type="Submit" name="create" value="item">Add to my List</button>
    </form>

<%- include("footer") -%>
